.video_details{
	.status_bar{
		background-color: #000000;
	}
	.video_playback_outer{
		font-size: 0rpx;
		video{
			width: 100%;
			height: 450rpx;
			position: relative;
			.left_back{
				width: 44rpx;
				height: auto;
				position: absolute;
				left: 26rpx;
				top: 30rpx;
				z-index: 999;
			}
			.right_more{
				width: 44rpx;
				height: auto;
				position: absolute;
				right: 26rpx;
				top: 30rpx;
				z-index: 999;
			}
		}
	}
	.introduce_info{
		background-color: #FFFFFF;
		padding: 26rpx;
		.introduce_text{
			font-size: 28rpx;
			color: #666666;
			margin-bottom: 23rpx;
		}
		.introduce_bottom{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.left_tags{
				display: flex;
				align-items: center;
				.one_tag{
					font-size: 24rpx;
					line-height: 42rpx;
					color: #003399;
					padding: 0rpx 18rpx;
					margin-right: 21rpx;
					background-color: #FFCC66;
					border-radius: 10rpx;
				}
			}
			.right_look_time{
				font-size: 26rpx;
				color: #666666;
			}
		}
	}
	// 未解答的问题
	.unanswered{
		padding: 20rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 28rpx;
		line-height: 28rpx;
		color: #003399;
		.icon{
			font-size: 26rpx;
			margin-right: 8rpx;
		}
	}
	.outer_popup{
		view{
			padding: 50rpx 0rpx;
			text-align: center;
			font-size: 32rpx;
			color: #999999;
		}
		.delete_text{
			color: #E9434C;
			border-bottom: 1rpx solid rgba(0,0,0,0.1);
		}
	}
}