.publishArticles{
	.text_area_title{
		width: 100%;
		height: 160rpx;
		background-color: #FFFFFF;
		padding: 26rpx;
		box-sizing: border-box;
		font-size: 36rpx;
		color: #232323;
		margin-bottom: 20rpx;
	}
	// 富文本
	#editor {
	    width: 100%;
	    height: 200px;
	    background-color: #FFFFFF;
		font-size: 30rpx;
		padding: 30rpx 26rpx;
		box-sizing: border-box;
	}
	// 添加图片
	.add_image{
		text-align: center;
		background-color: #FFFFFF;
		border-top: 1rpx solid rgba(0,0,0,0.03);
		padding: 15rpx 0rpx;
		.icon{
			color: #666666;
			font-size: 50rpx;
			line-height: 50rpx;
		}
	}
	// 添加标签
	.add_tag{
		padding: 30rpx 26rpx;
		background-color: #FFFFFF;
		color: #003399;
		font-size: 30rpx;
		display: flex;
		align-items: center;
		margin-top: 20rpx;
		.icon{
			font-size: 30rpx;
		}
		.add_tag_text{
			text{
				font-size: 26rpx;
				color: #999999;
			}
		}
	}
	// 添加专栏
	.release_special_column{
		margin-top: 20rpx;
		padding: 0rpx 26rpx 120rpx;
		background-color: #FFFFFF;
		.special_column{
			padding: 20rpx 0rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1rpx solid rgba(0,0,0,0.03);
			.special_column_left{
				font-size: 30rpx;
				color: #232323;
			}
			.special_column_right{
				font-size: 28rpx;
				color: #999999;
				display: flex;
				align-items: center;
				.icon{
					font-size: 28rpx;
				}
			}
		}
		button{
			color: #FFFFFF;
			font-size: 32rpx;
			line-height: 88rpx;
			width: calc(100% - 52rpx);
			background-color: #003399;
			border-radius: 88rpx;
			margin-top: 152rpx;
		}
	}
	.popup_outer{
		width: 100%;
		height: 100%;
		background-color: #F0F0F0;
		padding: 85rpx 26rpx 0rpx;
		position: relative;
		.icon{
			font-size: 45rpx;
			line-height: 45rpx;
			color: #232323;
			position: absolute;
			left: 50%;
			top: 20rpx;
			transform: translateX(-50%);
		}
		.one_info{
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 30rpx 0rpx;
			border-bottom: 1rpx solid #E1E1E1;
			.left_info_text{
				width: calc(100% - 120rpx);
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			.right_info_add{
				display: inline-block;
				width: 100rpx;
				height: 48rpx;
				background-color: #FFCC66;
				border-radius: 48rpx;
				color: #003399;
				font-size: 26rpx;
				line-height: 48rpx;
				font-weight: bold;
				text-align: center;
			}
		}
	}
}